FLASK_ENV='development'
JWT_PUBLIC_KEY=
DATABASE_URI='postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME'
PROD_DATABASE_URI='postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME'
TEST_DATABASE_URI='postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME'
BASE_URL='/api/v1'
SMTP_HOSTNAME='smtp.gmail.com'
SMTP_PORT=587
SMTP_USER='email@example.com'
SMTP_PASSWORD='password'
SENDGRID_API_KEY='send grid key'
