[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-restplus = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
pytest = "*"
marshmallow = "*"
authlib = "*"
numpy = "*"
pytest-cov = "*"
yapf = "*"

[dev-packages]

[requires]
python_version = "3.7"
